spring:
  kafka:
    bootstrap-servers: kafka:29092
    consumer:
      group-id: user-event-consumers
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
